html {
  background: #E3F2FD;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #272727;
  //color: white;
}

body {
  //max-width: calc(100% - 12px);
  //margin: auto;
  margin: 0;
  //border-left: 1px solid #ddd;
  //border-right: 1px solid #ddd;
  height: 100%;
  position: relative;
}

.max-width {
  max-width: calc(100% - 12px);
  margin: auto;

  @media screen and (min-width: 1000px) {
    max-width: 1000px;
  }
}

a {
  text-decoration: none;
  color: $cx-theme-primary-color;
}

.header {
  padding: 1rem 0;
  color: white;

  h1 {
    flex: 1;
    line-height: 1;

    @media screen and (max-width: 400px){
      font-size: 20px;

    }
  }

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 10rem;
    will-change: height;
    transition: height 0.2s;
    background: #2196F3;
    content: ' ';
    z-index: -1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  &.home:before {
    height: 22rem;
  }

  span > i.material-icons {
    color: white !important;
  }
}

.footer {
  padding: 1rem 0;
}

.page {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  //border-radius: 2px;
  //border: 1px solid lightgray;
  margin-bottom: 6px;
  color: black;

  //a {
  //  color: #2673e5;
  //  text-decoration: none;
  //
  //  &:hover {
  //    text-decoration: underline;
  //  }
  //}
}

h1 {
  margin: 0;
  font-size: 24px;
  line-height: 36px;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

//.material-icons {
//  font-family: 'Material Icons';
//  font-weight: normal;
//  font-style: normal;
//  font-size: 24px;  /* Preferred icon size */
//  display: inline-block;
//  line-height: 1;
//  text-transform: none;
//  letter-spacing: normal;
//  word-wrap: normal;
//  white-space: nowrap;
//  direction: ltr;
//
//  /* Support for all WebKit browsers. */
//  -webkit-font-smoothing: antialiased;
//  /* Support for Safari and Chrome. */
//  text-rendering: optimizeLegibility;
//
//  /* Support for Firefox. */
//  -moz-osx-font-smoothing: grayscale;
//
//  /* Support for IE. */
//  font-feature-settings: 'liga';
//}

.prose {
  padding: 0.5rem 2rem;

  &.narrow {
    max-width: 600px;
  }
}


