html {
  background: #e5e5e5;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
}

body {
  max-width: calc(100% - 12px);
  margin: auto;
  //border-left: 1px solid #ddd;
  //border-right: 1px solid #ddd;
  height: 100%;
}

@media screen and (min-width: 1000px) {
  body {
    max-width: 1000px;
  }
}

.header {
  padding: 1rem 0;

  h1 {
    flex: 1;
  }
}

.footer {
  padding: 1rem 0;
}

.page {
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: 1px solid lightgray;
  margin-bottom: 6px;
}

h1 {
  margin: 0;
  font-size: 24px;
  line-height: 36px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.prose {
  padding: 0.5rem 2rem;
  max-width: 600px;
}
