.green-item {
	color: #18d035;
}

.link-button {
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none !important;
	color: #1E88E5;
	padding: 10px 20px 7px;
	border-radius: 3px;
	position: relative;

	&:hover {
		background: rgba(128, 128, 128, 0.1);
		box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.3);
	}

	&:active {
		top: 1px;
		box-shadow: none;
	}
}

.cxe-flexbox-flexbox.cxs-align-start {
	align-items: flex-start;
}

.new-report-button {
	background: $cx-theme-accent-color !important;
	color: black !important;
	text-decoration: none;

	&:active {
		top: auto !important;
	}

	@media screen and (min-width: 700px) {
		position: absolute;
		bottom: 8px;
		right: 85px;
	}
}

.welcome {
	//background: #c3e3ff;
	background: #1565C0;
	color: white;
	position: relative;
	padding: 0.5rem 2rem 0.5rem;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	//min-height: 18rem;
	border-radius: 2px;
	margin-bottom: 10px;

	@media screen and (max-width: 400px) {
		padding: 0.1rem 1rem 0.5rem;

		.cxb-tab {
			padding: 0.4rem 1rem 0.3rem;
		}
	}

	.cxb-link {
		color: $cx-theme-accent-color;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.report-cards {
	@media screen and (max-width: 800px) {
		min-height: 90vh;
	}
}

.report-card {
	min-width: 20rem;
	border-radius: 2px;
	padding: 10px;
	background: white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	color: inherit;
	transition: box-shadow 0.3s;
	flex: 1 1 20em;
	position: relative;

	&:hover {
		//box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.5);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
		text-decoration: none;
	}

	p {
		display: block; /* Fallback for non-webkit */
		display: -webkit-box;
		margin: 5px 0 0;
		max-height: 2.5em;
		line-height: 1.25;
		overflow: hidden;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		color: #535353;
	}

	.cxb-icon {
		color: $cx-theme-accent-color;
	}

	h4 {
		color: #1154a0;
		font-weight: 500;
		font-size: 13px;
	}

	&.hidden {
		visibility: hidden;
	}

	&:active {
		top: 1px;
		box-shadow: none;
	}
}
