$cx-default-icon-size: 24px;
$cx-default-box-line-height: 24px;
$cx-default-button-font-size: 15px;
$cx-default-label-color: #a2a2a2;
$cx-default-box-font-size: 14px;
$cx-theme-primary-color: #2196F3;
$cx-default-grid-font-size: 13px;

@import "~cx-theme-material/src/variables";

//$cx-input-state-style-map: cx-deep-map-merge($cx-input-state-style-map, (
//  default: (
//    font-size: 15px
//  )
//));

@import "~cx-theme-material/src/index";


//material theme bug - remove after it's fixed
.cxm-help-placement-material {
	overflow: visible;
}

.cxb-menuitem.cxs-medium-padding .cxb-icon {
	margin-right: 10px;
}

.cxb-button.cxm-small {
	height: 24px;
	vertical-align: bottom;

	&.cxs-empty {
		padding-left: 23px;
	}

	.cxe-button-icon {
		width: 16px;
		height: 16px;
		font-size: 16px;
		margin-top: -8px;
		left: 8px;
	}

	&.cxs-pressed {
		background: #b5d8ff;
		border-radius: 2px;
	}
}

.cxb-label {
	padding-bottom: 0;
	margin-top: 10px;
	border-width: 0;
}

.cxm-block {
	width: auto;
	display: block;
}

.cxb-dropzone.cxs-over {
	background: #e7f2e7;
	border: none !important;
}

@import "components/index";
@import "layout/index";
@import "routes/index";
