.section {
  padding: 1rem 2.5rem;
  transition: all 0.2s;
  margin: 0;
  position: relative;

  h3 a {
    color: inherit;
    text-decoration: none;
  }

  &:not(:last-child) {
    border-bottom: 1px dotted lightgray;
  }

  @media screen and (max-width: 400px) {
    padding: 1rem 1rem !important;
  }
}

.section.edit {
  background: #f3f3f3;
  padding: 2rem 2.5rem;
  margin: -5px -5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-bottom: none;
  z-index: 1;
  border-radius: 1px;
}

.loading {
  padding: 3rem;
  color: gray;
  font-style: italic;
  font-size: 1.5rem;
}