.report {
}

.section {
  padding: 1rem 2.5rem;
  transition: margin 0.2s;
  margin: 0;

  &:not(:last-child) {
    border-bottom: 1px dotted gray;
  }
}

.edit {
  background: #eee;
  padding: 1rem 2.5rem;
  margin: 0 -5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-bottom: none;
}